<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
			integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
			integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div id="app">
			<a href="./index.html">返回</a>
			<div class="container mt-5">
				<h1 class="text-center mb-5">機台資訊</h1>
				<span class="my-0" id="machStatus-now-time">更新時間:</span>
				<span class="my-0" for="machStatus-now-time"
					>{{ nowtime }}</span
				>
				<div class="row">
					<div
						class="col col-xl-2 col-lg-4 col-md-6 col-sm-12 mb-3"
						v-for="(item, key) in light"
						:key="key"
					>
						<div class="row g-0">
							<div class="col-md-4">
								<img
									v-if="item"
									:src="'/img/light-'+light_CN[key][1]+'.png'"
									style="max-width: 80px"
								/>
								<img
									v-else
									:src="'/img/light-'+light_CN[key][1]+'.png'"
									style="max-width: 80px"
								/>
							</div>
							<div class="col-md-8">
								<div class="card-body">
									<p class="card-text">
										{{light_CN[key][0]}}
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script>
		var app = new Vue({
			el: "#app",
			data() {
				return {
					message: "Hello Vue!",
					light: {},
					light_CN: {
						lub_press_slder: ["潤滑油壓(主滑台側)", "gray"],
						abn_pneu_press: ["氣壓", "gray"],
						overload: ["電流", "red"],
						abn_driver: ["伺服驅動器", "red"],
						pko_sfbolt: ["前沖安全銷", "red"],
						ko_sfbolt: ["後沖安全銷", "red"],
						lub_press_cutoff: ["潤滑油壓(剪斷側)", "gray"],
						prob_tran_float: ["挟台", "red"],
						prob_sf_door: ["安全門", "red"],
						lub_overflow: ["潤滑油", "red"],
						abn_temp_slder: ["溫度", "red"],
						abn_lub_flow: ["潤滑油量", "red"],
						abn_brk_pla_clut: ["離合器煞車距離", "red"],
						hyd_press_rscrpi_lck: ["油壓鎖後牙管", "red"],
						abn_forg: ["BRANKAMP壓造", "red"],
						sh_feed: ["短寸", "red"],
						finish_cnt: ["計數", "red"],
						mtr_end: ["材料", "red"],
						hyd_press_grpse_lck: ["鎖挟台油壓", "red"],
						oper_door: ["操作門", "red"],
						die_blkwed_hyd_oil_press: ["油壓模座契型塊", "red"],
						die_blkcyl_hyd_oil_press: ["油壓模座油壓缸", "red"],
						pun_blkcyl_hyd_oil_press: ["油壓沖具座油壓缸", "red"],
						oil_level_low: ["油量(副油箱)", "red"],
						mat_wgt: ["材料秤重", "red"],
						sf_window: ["安全視窗", "red"],
						motor_brk: ["馬達繼電器", "red"],
					},
					params: {
						methods: "POST",
						whichFunction: "CommonSqlSyntaxQuery",
						postdata: {
                            condition:{
							    condition_1: {
                                    table: "test_main",
                                    fields: [
                                        "lub_press_slder",
                                        "abn_pneu_press",
                                        "overload",
                                        "abn_driver",
                                        "pko_sfbolt",
                                        "ko_sfbolt",
                                        "lub_press_cutoff",
                                        "prob_tran_float",
                                        "prob_sf_door",
                                        "lub_overflow",
                                        "abn_temp_slder",
                                        "abn_lub_flow",
                                        "abn_brk_pla_clut",
                                        "hyd_press_rscrpi_lck",
                                        "abn_forg",
                                        "sh_feed",
                                        "finish_cnt",
                                        "mtr_end",
                                        "hyd_press_grpse_lck",
                                        "oper_door",
                                        "die_blkwed_hyd_oil_press",
                                        "die_blkcyl_hyd_oil_press",
                                        "pun_blkcyl_hyd_oil_press",
                                        "oil_level_low",
                                        "mat_wgt",
                                        "sf_window",
                                            "motor_brk",
                                    ],
                                    where: "",
                                    orderby: ["desc", "upload_at"],
                                    limit: [0, 1],
                                    symbols: "",
                                    intervaltime: "",
                                    subquery: "",
                                    union: "",
                                }
                            }
                        },
					},
					nowtime: "--",
				};
			},
			mounted() {
				this.callAPI();
			},
			methods: {
				callAPI: function () {
					// const agent = new https.Agent({
					// 	rejectUnauthorized: false,
					// });
					// .post(
					//     "https://59.125.151.182:3687/api/IOT/2.0/myps/Sensor/SqlSyntax?uid=@sapido@PaaS&getSqlSyntax=no",
                    console.log(this.params);
					axios
						.post("/php/modules.php", this.params)
						.then(
							(response) =>
								(this.light = response.data.QueryTableData[0])
						);
					this._getNowTime();
					const timeout = setTimeout(function () {
						console.log("!!!!!!");
						app.callAPI();
					}, 2000);
				},
				_getNowTime() {
					let vm = this;
					let Today = new Date();
					vm.nowtime =
						Today.getFullYear() +
						"-" +
						String(Today.getMonth() + 1).padStart(2, "0") +
						"-" +
						String(Today.getDate()).padStart(2, "0") +
						" " +
						String(Today.getHours()).padStart(2, "0") +
						":" +
						String(Today.getMinutes()).padStart(2, "0") +
						":" +
						String(Today.getSeconds()).padStart(2, "0");
					console.log(vm.nowtime);
				},
			},
			beforeDestroy() {
				clearTimeout(this.timeout);
			},
		});
	</script>
</html>
